<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}"><head>
    <meta charset="UTF-8">
    <title>Vets</title>
</head>
<body>
<h1 th:text="'List of vets'">List of vets</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>LastName</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet?.id}">1</td>
            <td th:text="${vet?.firstName}">Nie</td>
            <td th:text="${vet?.lastName}">Wyszlo</td>
        </tr>
    </tbody>
</table>

</body>
</html>